<% layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br><br>
            <h3>Create a new listing</h3>
            <form method="post" action="/listings" novalidate class="needs-validation" enctype ="multipart/form-data">
                
                
                    <div class="mb-3">
                        <label for="title" class="form-label" >Title</label>
                        <input type="text" name="listing[title]" placeholder="enter title" class="form-control" required>
                        <div class="valid-feedback">Title looks good</div>
                    
                    </div>
                    
                    <br> <br>
                    <div class="mb-3">
                        <label for="description" class="form-label" >Description</label>
                        <textarea type="text"  class="form-control" name="listing[description]" placeholder="Description" required></textarea>
                        <div class="invalid-feedback">Please enter a short description</div>
                    </div>
                    


                    <div class="mb-3">
                        <label for="img" class="form-label">Upload Listing Image</label>
                        <input type="file" class="form-control" name="listing[image]"   required>
                      
                    </div>
                    
                    <div class="row">

                        <div class="mb-3 col-md-4" >
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" name="listing[price]" placeholder="enter price" required>
                            <div class="invalid-feedback">Please enter Valid price</div>
                        
                        </div>
                    
                        
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label" >Country</label>
                            <input type="text" class="form-control"  name="listing[country]" placeholder="enter country" required>
                            <div class="invalid-feedback">Please enter valid country</div>
                        
                        </div>
                        

                    </div>
                   
                    
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" name="listing[location]" placeholder="location"  required>
                        <div class="invalid-feedback">Please enter Valid location</div>
                    </div>
                
                    <br><br>
                    <button class="btn btn-dark add-btn">Add</button>
                    
                    <br><br>
                
            </form>
        </div>
    </div>  
    
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()
    </script>
</body>
